// -- navbar.jade ~ copyright 2016 Paul Beaudet
.header.clearfix
    nav
        ul.nav.nav-pills.pull-right
            li(role='presentation')
                a(href='/') About
            li(role='presentation')
                a(href='/') Sign-Up
            li(role='presentation')
                a(href='/') Login
            li(role='presentation')
                a(href='/') Quit
        h3#title.text-muted Interupt
